html, body{
	height: 100%;
	width: 100%;
}
header{
	background: url(css/header_bg.jpg) no-repeat;
	background-size: 100%;
	margin-top: -20px;
	height: 100%;
}
#icon{
	height: 100px;
	width: 100px;
	margin-top: 75px;

}
nav{
	margin-top: -75px;
	background: url(css/body_bg.jpeg);
	font-size: 20px;
	height: 100%;
	
}
#first_text {
	padding-top: 25%;
	margin-left: 7px;
	margin-right: 7px;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}
#serviformica_rufibarbis{
	width: 155px;
	height: 125px;
}
#formica_rufa{
	width: 155px;
	height: 125px;
}
#pp{
	margin-left: 13%;
	text-align: center;
}
#images p{
	font-size: 12px;
	font-weight: bold;
}
#rufi_txt{
	margin-top: -15px;
}
#rufi_txt_second{
	margin-left: 7px;
}
#text_end{
	margin-left: 7px;
	margin-right: 7px;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}
#alcatel{
	padding-top: -69px;
	height: 510px;
	width: 270px;
}
#phone p{
	text-align: center;
}
#img_rotator{
	margin-top: -487px;
}
#img_rotator p{
	text-align: center;
}
#image_rotator{
	width: 230px;
	height: 403px;
}
#second_text {
	margin-top: 20%;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}
footer{
	background: url(css/footer_bg.jpg) repeat-x;
	background-size: 100%;
	-webkit-background-size: 100%;
	font-size: 20px;
	height: 200px;


}
#google_play_badge{
	margin-top: 60px;
	margin-left: 10%;
	height: 110px;
	width: 270px;
}
#vk_logo{
	width: 30px;
	height: 30px;
	padding-left: 85%;
}


	
		
			
